
#home{
    height: 100vh;
    min-height: 500px;
    background: url(/src/images/room.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  #home .content{
    width: 100%;
    color: #fff;
  }
  
  #home .content h1{
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
  
  #home .content h1::after{
    content: " ";
    animation: textanim 10s linear infinite;
  }
  
  strong{
    font-size: 3rem;
    color: #a7efff;
  }
  
  @keyframes textanim{
    25%{
      content: "room, Hostels";
    }
    50%{
      content: "mess, food ";
    }
    75%{
      content: "many more...";
    }
  }
  
  .sm a{
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
  }
  
  .sm a:hover{
    color: #48dbfb;
  }
  
  #home .buttons{
    margin-top: 60px;
  }
  
  #home .buttons a{
    display: inline-block;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
  }
  
  #home .buttons a:hover,
  #home .buttons a:nth-child(2)
  {
    background-color: #48dbfb;
    color: #fff;
  }

  .goTop{
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #48dbfb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
  }  